import UIKit

protocol <%= name %>ViewProtocol: class {
    func showItems(items: [WarikanItem])
}

class <%= name %>ViewController: UIViewController, <%= name %>ViewProtocol {
    private var presenter: <%= name %>PresenterProtocol!
    
    func setPresenter(presenter: <%= name %>resenterProtocol) {
        self.presenter = presenter
    }
}
